.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
}
.Loader > img {
  width: 40%;
  animation-name: loader-image;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 3s ease all;
  animation-timing-function: ease;
}
@keyframes loader-image {
  100.0% {
    transform: scale(1);
  }
  99.0% {
    transform: scale(0.99);
  }
  98.0% {
    transform: scale(0.98);
  }
  97.0% {
    transform: scale(0.97);
  }
  96.0% {
    transform: scale(0.96);
  }
  94.9% {
    transform: scale(0.949);
  }
  93.9% {
    transform: scale(0.939);
  }
  92.9% {
    transform: scale(0.929);
  }
  91.9% {
    transform: scale(0.919);
  }
  90.9% {
    transform: scale(0.909);
  }
  89.9% {
    transform: scale(0.899);
  }
  88.9% {
    transform: scale(0.889);
  }
  87.9% {
    transform: scale(0.879);
  }
  86.9% {
    transform: scale(0.869);
  }
  85.9% {
    transform: scale(0.859);
  }
  84.8% {
    transform: scale(0.848);
  }
  83.8% {
    transform: scale(0.838);
  }
  82.8% {
    transform: scale(0.828);
  }
  81.8% {
    transform: scale(0.818);
  }
  80.8% {
    transform: scale(0.808);
  }
  79.8% {
    transform: scale(0.798);
  }
  78.8% {
    transform: scale(0.788);
  }
  77.8% {
    transform: scale(0.778);
  }
  76.8% {
    transform: scale(0.768);
  }
  75.8% {
    transform: scale(0.758);
  }
  74.7% {
    transform: scale(0.747);
  }
  73.7% {
    transform: scale(0.737);
  }
  72.7% {
    transform: scale(0.727);
  }
  71.7% {
    transform: scale(0.717);
  }
  70.7% {
    transform: scale(0.707);
  }
  69.7% {
    transform: scale(0.697);
  }
  68.7% {
    transform: scale(0.687);
  }
  67.7% {
    transform: scale(0.677);
  }
  66.7% {
    transform: scale(0.667);
  }
  65.7% {
    transform: scale(0.657);
  }
  64.6% {
    transform: scale(0.646);
  }
  63.6% {
    transform: scale(0.636);
  }
  62.6% {
    transform: scale(0.626);
  }
  61.6% {
    transform: scale(0.616);
  }
  60.6% {
    transform: scale(0.606);
  }
  59.6% {
    transform: scale(0.596);
  }
  58.6% {
    transform: scale(0.586);
  }
  57.6% {
    transform: scale(0.576);
  }
  56.6% {
    transform: scale(0.566);
  }
  55.6% {
    transform: scale(0.556);
  }
  54.5% {
    transform: scale(0.545);
  }
  53.5% {
    transform: scale(0.535);
  }
  52.5% {
    transform: scale(0.525);
  }
  51.5% {
    transform: scale(0.515);
  }
  50.5% {
    transform: scale(0.505);
  }
  49.5% {
    transform: scale(0.495);
  }
  48.5% {
    transform: scale(0.485);
  }
  47.5% {
    transform: scale(0.475);
  }
  46.5% {
    transform: scale(0.465);
  }
  45.5% {
    transform: scale(0.455);
  }
  44.4% {
    transform: scale(0.444);
  }
  43.4% {
    transform: scale(0.434);
  }
  42.4% {
    transform: scale(0.424);
  }
  41.4% {
    transform: scale(0.414);
  }
  40.4% {
    transform: scale(0.404);
  }
  39.4% {
    transform: scale(0.394);
  }
  38.4% {
    transform: scale(0.384);
  }
  37.4% {
    transform: scale(0.374);
  }
  36.4% {
    transform: scale(0.364);
  }
  35.4% {
    transform: scale(0.354);
  }
  34.3% {
    transform: scale(0.343);
  }
  33.3% {
    transform: scale(0.333);
  }
  32.3% {
    transform: scale(0.323);
  }
  31.3% {
    transform: scale(0.313);
  }
  30.3% {
    transform: scale(0.303);
  }
  29.3% {
    transform: scale(0.293);
  }
  28.3% {
    transform: scale(0.283);
  }
  27.3% {
    transform: scale(0.273);
  }
  26.3% {
    transform: scale(0.263);
  }
  25.3% {
    transform: scale(0.253);
  }
  24.2% {
    transform: scale(0.242);
  }
  23.2% {
    transform: scale(0.232);
  }
  22.2% {
    transform: scale(0.222);
  }
  21.2% {
    transform: scale(0.212);
  }
  20.2% {
    transform: scale(0.202);
  }
  19.2% {
    transform: scale(0.192);
  }
  18.2% {
    transform: scale(0.182);
  }
  17.2% {
    transform: scale(0.172);
  }
  16.2% {
    transform: scale(0.162);
  }
  15.2% {
    transform: scale(0.152);
  }
  14.1% {
    transform: scale(0.141);
  }
  13.1% {
    transform: scale(0.131);
  }
  12.1% {
    transform: scale(0.121);
  }
  11.1% {
    transform: scale(0.111);
  }
  10.1% {
    transform: scale(0.101);
  }
  9.1% {
    transform: scale(0.091);
  }
  8.1% {
    transform: scale(0.081);
  }
  7.1% {
    transform: scale(0.071);
  }
  6.1% {
    transform: scale(0.061);
  }
  5.1% {
    transform: scale(0.051);
  }
  4.0% {
    transform: scale(0.04);
  }
  3.0% {
    transform: scale(0.03);
  }
  2.0% {
    transform: scale(0.02);
  }
  1.0% {
    transform: scale(0.01);
  }
  0.0% {
    transform: scale(0);
  }
}
