.BlogItemContainer {
  width: 31%;
  align-self: stretch;
}
.BlogItemContainer > * {
  height: 100%;
}
.BlogItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.BlogItem > img {
  width: 100%;
  border-radius: 10px;
  height: 220px;
  object-position: center;
  object-fit: cover;
}
.BlogContent {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.BlogContent > h4 {
  font-family: "TT Norms";
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
}
.BlogContent > p {
  color: #999999;
  flex: 1;
}
.BlogDescription {
  font-size: 1.2em;
  line-height: 1.2;
  flex: 1;
}
@media screen and (max-width: 1000px) {
  .BlogContent > h4 {
    font-size: 1.2em;
  }
  .BlogDescription {
    font-size: 1em;
  }
  .BlogDate {
    font-size: 0.8em;
  }
  .BlogItem > img {
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .BlogItemContainer {
    width: 65vw !important;
    flex: 0 0 auto;
    margin: 0 20px;
  }
  .BlogContent > h4 {
    width: 100% !important;
    font-size: 0.8em;
  }
  .BlogContent {
    padding: 10px;
  }
  .BlogDescription {
    font-size: 0.7em;
  }
  .BlogDate {
    font-size: 0.65em;
  }
}
