.Header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: max-content;
  width: 100vw;
  box-sizing: border-box;
  z-index: 2;
  position: fixed !important;
  top: 0;
  background-color: white;
}
.HeaderSpacing {
  margin-bottom: 100px;
}
.HeaderTop {
  display: flex;
  padding: 20px 5%;
}
.Location {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderText {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 40px;
}
.HeaderText > h1 {
  font-family: Pairfair Display;
  font-weight: normal;
  margin: 0;
}
.LogoutBtn {
  font-size: 1.5em;
}
.HeaderBottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}
.HeaderBottom > * {
  width: 33% !important;
}
.HeaderBottom nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.HeaderBottom nav > * {
  margin: 0 10px;
}
.HeaderMenu > img {
  background: white;
  padding: 10px;
}
.HeaderBottom > div {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:active,
a:after,
a:visited {
  color: inherit;
}
nav > a,
nav > div {
  color: #fff !important;
  cursor: pointer;
}
nav > a:hover,
nav > div:hover {
  color: #171717 !important;
}
.Logo {
  background: #171717;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.Logo > img {
  height: 100%;
}
.Badged {
  position: relative;
}
.BadgedCounter {
  z-index: 2;
  bottom: 20%;
  left: 100%;
  position: absolute;
  background: white;
  color: black;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BadgeCounterFav {
  background-color: #ccc;
  color: #fff;
}
.HeaderSearch {
  background-color: #fff;
  padding: 2rem;
  transition: 0.1s ease all;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.HeaderSearch input {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  color: #141414;
  border-radius: 5px;
  padding: 0 20px;
  background: rgb(238, 238, 238);
}
@media screen and (max-width: 1240px) {
  nav {
    width: 90%;
  }
  .HeaderBottom {
    align-items: center;
  }
  .Logo {
    height: 30px !important;
    padding: 5px 5px 0 5px;
    display: flex;
    align-items: center;
  }
  nav button {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 800px) {
  .Header nav {
    width: 70% !important;
  }
}
@media screen and (max-width: 480px) {
  .Header {
    display: none;
  }
  nav i {
    font-size: 0.6em;
  }
  .HeaderSpacing {
    display: none;
  }
}
