.ProductItem {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
}
.ProductItemContainer {
  width: 23%;
  /* margin-bottom: 25px; */
  margin: 12px;
  align-self: stretch;
  /* flex: 1 !important; */
}
.ProductItemContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ProductItemContainer > * {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.ProductItem > img {
  width: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 3%;
  border: 0.5px solid #cccccc !important;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.ProductTitle {
  width: 75%;
  flex: 1;
}
.ProductTitle > h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #323232;
}
.PriceCarts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Badged,
.Badged > img.SvgIcon {
  background-color: transparent !important;
}
.Carts {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}
.Carts .Badged {
  width: 60%;
  height: 60%;
}
.Carts > * {
  transform: scale(0.85);
}
.Favourite {
  background-color: #eeeeee !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddToCart {
  border: 1px solid black !important;
  padding: 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddToCart > .Badged > img {
  color: black !important;
}
.Badged > i.far.fa-heart {
  background-color: transparent !important;
  color: black;
  font-size: 1.2em !important;
}
.PriceCarts > .Price {
  font-weight: bolder;
}
.PriceCarts h2 {
  margin: 0;
}
.SvgIcon {
  height: 100%;
}
@media screen and (max-width: 1250px) {
  .ProductItemContainer {
    width: 23%;
  }
  .ProductItem > img {
    /* width: 190px;
    height: 190px; */
    width: 100%;
    margin: auto !important;
  }
  .ProductTitle > h2 {
    font-size: 1em;
  }
  .Carts > * {
    transform: scale(0.6);
  }
  .Price {
    display: flex;
    align-items: center;
  }
  .Price {
    width: 60%;
  }
  .PriceCarts > .Price {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 800px) {
  .ProductItem > img {
    width: 100% !important;
  }
  .ProductTitle {
    width: 100%;
  }
  .Price > h2 {
    font-size: 1.4em;
  }
  .ProductItemContainer {
    margin: 12px 5px;
  }
}
@media screen and (max-width: 480px) {
  /* .ProductItem {
    align-self: flex-start;
  } */
  .ProductItem > img {
    height: 130px;
    width: 100%;
  }
  .ProductTitle > h2 {
    font-size: 0.8em;
  }
  .Price > h2 {
    font-size: 1.2em;
  }
  .Carts {
    width: 60%;
  }
}