.StoreFront {
  /* padding: 0 5%; */
}
.StoreFrontBanner {
  height: 695px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.StoreFrontBanner > h1 {
  position: absolute;
  left: 17%;
  top: 17.51%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 202px;
  color: #171717;
  mix-blend-mode: normal;
}
.Categories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  justify-content: flex-start;
}
.CategoryContainer {
  width: 300px !important;
  height: 300px;
  margin: 0 10px;
  color: #171717;
}
.StoreFrontBanner > h1 > span {
  color: white;
}
.StoreFrontBannerBtn {
  position: absolute;
  left: 17%;
  top: 75.51%;
}
.TopCategoriesContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.TopCategoriesContainer > h3 {
  font-family: "Playfair Display";
  font-size: 36px;
  margin-bottom: 30px;
}
.TopCategories {
  width: 95%;
  overflow: auto;
  white-space: nowrap;
}
.TopCategories > * {
  margin: 10px 20px !important;
  display: inline-block;
}
.LinkCatalog {
  margin: auto;
  margin-bottom: 150px;
}
.CategoryContainer {
  height: 300px;
}
.CategoryContainer > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.CategoryContainer > div > img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  flex: 1;
}
.CategoryContainer .TitleQty {
  height: 10%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 0 5%;
}
@media screen and (max-width: 1440px) {
  .StoreFrontBanner {
    height: 550px !important;
    width: 100% !important;
  }
  .StoreFrontBanner > h1 {
    font-size: 127px;
    left: 5%;
    top: 10%;
    line-height: 1.2;
  }
  .StoreFrontBannerBtn {
    left: 5%;
    top: 65% !important;
    background-position: 0 20%;
  }
  .TopCategories > * {
    margin: 10px !important;
  }
}
@media screen and (max-width: 500px) {
  .StoreFrontBanner {
    display: none;
  }
  h3 {
    font-size: 1.5em !important;
  }
  .TopCategoriesContainer {
    margin-top: 50px !important;
  }
  .LinkCatalog {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -50px;
  }
}
